page-walkthrough {
  ion-slide {
    background : #3a7ef3;
  }
  ion-slide h1 {
    color       : #ffffff;
    font-weight : bold;
  }
  ion-slide h2 {
    color       : #ffffff;
    font-style: italic;
  }
  ion-slide p {
    color : #ffffff;
  }
  ion-slide .info {
    position   : absolute;
    bottom     : 0;
    background : #3a7ef3;
    padding    : 5px 5px 0 5px;
    width      : 100%;
  }
  ion-slide img {
    position      : absolute;
    top           : 15px;
    left          : 50%;
    transform     : translateX(-50%);
    height        : 60vh !important;
    border-top    : 30px solid black;
    border-bottom : 30px solid black;
    border-left   : 5px solid black;
    border-right  : 5px solid black;
    border-radius : 15px;
  }
  ion-slide button {
    width  : 50%;
    margin : 20px auto;
  }
}
